<template>
    <v-data-table
            :headers="headers"
            :items="items"
            :disable-pagination="true"
            hide-default-footer
    ></v-data-table>
</template>
<script>
    import axios from 'axios';
    export default {
        name: "BusinessTable",
        data() {
            return {
                headers: [
                    {
                        text: 'Название',
                        align: 'left',
                        sortable: false,
                        value: 'name',
                    },
                    {text: 'ОРГН', value: 'psrn'},
                    {text: 'ИНН', value: 'tin'},
                    {text: 'Малое предпринемательство', value: 'is_small'},
                    {text: 'Дата запроса', value: 'created_at'},
                ],
                items: []
            }
        },
        mounted() {
            this.$root.$on('new-business', data => {
                this.items.unshift(data)
            });

            axios
                .get('business/')
                .then(response => {
                    response.data.map(item => item.created_at = new Date(item.created_at).toLocaleString());
                    this.items = response.data
                })
                .catch(error => this.$root.$emit('error', error.response.data.error))
        }
    }
</script>

<style scoped>

</style>