<template>
    <v-alert
            type="error"
            :value="alert"
            transition="scale-transition"
    >
        {{ message }}
    </v-alert>
</template>

<script>
    export default {
        name: "ErrorMessage",
        data: () => ({
            message: '',
            alert: false,
            lastTimeout: null
        }),
        methods: {
            showMessage(message) {
                this.message = message;
                this.alert = true;
            },
            closeMessage() {
                this.message = '';
                this.alert = false;
            }
        },
        mounted() {
            this.$root.$on('error', data => {
                clearTimeout(this.lastTimeout);
                this.showMessage(data);
                this.lastTimeout = setTimeout(() => this.closeMessage(), 2000)
            });
        }
    }
</script>

<style scoped>

</style>