<template>
    <v-container>
        <Search />
        <ErrorMessage />
        <BusinessTable/>
    </v-container>
</template>

<script>
    import BusinessTable from "./BusinessTable";
    import Search from "./Search";
    import ErrorMessage from "./ErrorMessage";

    export default {
        name: 'MainPage',
        components: {ErrorMessage, Search, BusinessTable},
    };
</script>
