<template>
    <v-form>
        <v-container>
            <v-row>
                <v-col cols="12">
                    <v-text-field
                            v-model="message"
                            outlined
                            clearable
                            label="Запросить данные"
                            type="text"
                            :append-outer-icon="message ? 'mdi-send' : ''"
                            @click:append-outer="makeSearch"
                    >
                        <template v-slot:prepend>
                            <v-tooltip
                                    bottom
                            >
                                <template v-slot:activator="{ on }">
                                    <v-icon v-on="on">mdi-help-circle-outline</v-icon>
                                </template>
                                Проверить, является ли переданный ОГРН или ИНН субъектом малого или среднего
                                предпринимательства
                            </v-tooltip>
                        </template>
                        <template v-slot:append>
                            <v-fade-transition leave-absolute>
                                <v-progress-circular
                                        v-if="loading"
                                        size="24"
                                        color="info"
                                        indeterminate
                                ></v-progress-circular>
                            </v-fade-transition>
                        </template>
                    </v-text-field>
                </v-col>

            </v-row>
        </v-container>
    </v-form>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "Search",
        data: () => ({
            message: '',
            loading: false,
        }),

        methods: {
            clearMessage() {
                this.message = ''
            },
            makeSearch() {
                this.loading = true;
                axios
                    .post('business/', {
                        query: this.message
                    })
                    .then(response => {
                        response.data.created_at = new Date(response.data.created_at).toLocaleString();
                        this.$root.$emit('new-business', response.data)
                    })
                    .catch(error => this.$root.$emit('error', error.response.data.error))
                    .finally(() => {
                        this.clearMessage();
                        this.loading = false;
                    })
            },
        },
    }
</script>

<style scoped>

</style>